#nutGrid {
  display: grid;
  grid-template-rows: repeat(6, 30px);
  align-items: center;
  justify-content: center;
  /* border-left: 3px solid rgb(161, 161, 161); */
  border-right: 2px solid rgb(190, 190, 190);
  background-color: rgb(182, 171, 142);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}