#nutGrid {
  display: grid;
  grid-template-rows: repeat(8, 30px);
  align-items: center;
  justify-content: center;
}

.nutTopBorder > .nutSlotContainer {
  border-top-left-radius: 15px;
}

.nutBottomBorder > .nutSlotContainer {
  border-bottom-left-radius: 15px;
}