#nutGrid {
  display: grid;
  grid-template-rows: repeat(8, 30px);
  align-items: center;
  justify-content: center;
  /* border-right: 2px solid rgb(190, 190, 190); */
}

.nutTopBorder > .nutSlotContainer {
  border-top-left-radius: 6px;
}

.nutBottomBorder > .nutSlotContainer {
  border-bottom-left-radius: 6px;
}